<header class="bg-gradient-to-r from-blue-500 to-purple-600 text-white p-6 shadow-lg">
  <nav class="container mx-auto flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <img src="assets/profile.jpeg" alt="Logo" class="h-10 w-10 rounded-full">
      <h1 href="/" class="text-3xl font-extrabold">Akshay Kumar</h1>
    </div>
    <ul class="hidden md:flex space-x-8">
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
          class="hover:text-yellow-300 transition-colors duration-300 text-lg font-semibold animate-pulse">Home</a></li>
      <li><a routerLink="/experience" routerLinkActive="active-link"
          class="hover:text-yellow-300 transition-colors duration-300 text-lg font-semibold animate-pulse">Experience</a></li>
      <li><a routerLink="/skills" routerLinkActive="active-link"
          class="hover:text-yellow-300 transition-colors duration-300 text-lg font-semibold animate-pulse">Skills</a></li>
      <li><a routerLink="/testimonials" routerLinkActive="active-link"
          class="hover:text-yellow-300 transition-colors duration-300 text-lg font-semibold animate-pulse">Testimonials</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link"
          class="hover:text-yellow-300 transition-colors duration-300 text-lg font-semibold animate-pulse">Contact</a></li>
    </ul>
    <button class="md:hidden text-white focus:outline-none" (click)="toggleMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
          [attr.d]="isMenuOpen ? 'M6 18L18 6M6 6l12 12' : 'M4 6h16M4 12h16m-7 6h7'" />
      </svg>
    </button>
  </nav>
  
  <!-- Mobile Menu -->
  <div class="md:hidden" [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}">
    <ul class="px-4 py-2 space-y-2">
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
          class="block hover:text-yellow-300 transition-colors duration-300 text-lg font-semibold">Home</a></li>
      <li><a routerLink="/experience" routerLinkActive="active-link"
          class="block hover:text-yellow-300 transition-colors duration-300 text-lg font-semibold">Experience</a></li>
      <li><a routerLink="/skills" routerLinkActive="active-link"
          class="block hover:text-yellow-300 transition-colors duration-300 text-lg font-semibold">Skills</a></li>
      <li><a routerLink="/testimonials" routerLinkActive="active-link"
          class="block hover:text-yellow-300 transition-colors duration-300 text-lg font-semibold">Testimonials</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link"
          class="block hover:text-yellow-300 transition-colors duration-300 text-lg font-semibold">Contact</a></li>
    </ul>
  </div>
</header>